body{
    font-family: 'roboto',sans-serif;
}
.about{
    width:25rem;
}
#project{
    width: 100%;
}
i{
    --fa-animation-duration:2s;
}
.fa-html5{
    color: tomato;
}
.fa-css3-alt{
    color: #2965f1;
}
.fa-bootstrap{
    color: #563d7c;
}
.fa-js{
    color: #f0db4f;
}
.modalImage{
    width: 30rem;
}
#register{
    padding: 2rem;

}
@media(min-width:576px){
    .projects{
        display:grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;

    }
}