body{
    font-family: 'roboto',sans-serif;
}
.about{
    width:25rem;
}
i{
    --fa-animation-duration:2s;
}
.fa-html5{
    color: tomato;
}
.fa-css3-alt{
    color: #2965f1;
}
.fa-bootstrap{
    color: #563d7c;
}
.fa-js{
    color: #f0db4f;
}
.modalImage{
    width: 30rem;
}