body{
    font-family: 'roboto',sans-serif;
}
.about{
    background-image: url('/assets/img/about.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    width: max-content;
}